
.poster a{
    text-decoration: none;
    color: #fff;
}



.posterImage{
    height: 500px;
}

.posterImage > img{
    margin: auto;    
    display: block;
    width: 100%;
}


.posterCoverOverlay{
    position: absolute;
    padding: 5rem;
    bottom: 0px;
    height: 70%;

    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    background-image: linear-gradient(rgb(0,0,0,0), rgb(0,0,0,1));
    opacity: 1;
    transition: opacity .3s;
}

.posterCoverOverlay:hover{
    opacity: 1;
}

.posterImage_title{
    font-size: 4rem;
    font-weight: 900;
    margin-bottom: 0.4rem;
    text-align: left;
}

.posterImage_runtime{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.posterImage_rating{
    margin-left: 3rem;
}

.posterImage_description{
    /* border: 1px solid yellow; */
    font-style: italic;
    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    text-align: left;
    width: 50%;
}



@media screen and (max-width : 500px) {
    .poster{
        border : 1px solid yellow
    }
}