.header{
    margin: 0 2.5rem;
    padding: 0.5rem 0;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.headerLeft{
    text-decoration: none;
}
.headerLeft, .headerRight{
    display: flex;
    align-items: center;
}

a > span{
    margin: 0 30px;
    cursor: pointer;
    font-size: 1.3rem;
    color: #fff;
}
.logoImg{
    width: 100px;
}

@media screen and (max-width : 480px) {
    .header{
        margin: 0;
    }
    .headerLeft{
        border: 1px solid yellow;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }
    .headerLeft span{
        margin: 0;
        font-size: 1rem;
    }
    .logoImg{
        width: 70px;
    }
}

@media screen and (min-width : 481px ) {
}